<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partialsDashboard/head') %>
</head>

    <body class="dashboard">

    <%- include('partialsDashboard/header') %>


    <!-- row section -->
    <div class=" u-section-row padding-tb">

        <h2 class="das-titulo">Dashboard</h2>
        
        <!-- Body Dashboard -->
        <div class="das-body">

            PANEL DE ADMINISTRACION, EN ESTA PAGINA PODEMOS PONER INFORMACION PARA EL ADMINISTRADOR, UN GESTOR DE
            ANALISIS DE LA TIENDA, ENTRE OTRAS COSAS.

        </div>
        <!-- Fin Body Dashboard -->

    </div>
    <!-- Fin row section -->

    
    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>   
    
    </body>
    
</html>