<!DOCTYPE html>
<html lang="es">

  <%- include('partialsDashboard/header') %>

  <!-- row section -->
  <div class=" u-section-row padding-tb">

      <h2 class="das-titulo">Para otra web</h2>
      
      <!-- Body Dashboard -->
      <div class="das-body">

          Pagina sin usar

      </div>
      <!-- Fin Body Dashboard -->

  </div>
  <!-- Fin row section -->

<!-- Copyright -->

<%- include('partialsDashboard/footer') %>