<!DOCTYPE html>
<html lang="es">
  
<head>
  <%- include("partials/head") %>
</head>

<body>
	<!-- Encabezado -->
    <%- include("partials/header") %>
	<!-- Fin Encabezado -->

	<section class="u-section-row padding-tb detalle">
    
    <form class="cart-form" action="#" method="post">
	
      <table class="shop_table">
        <thead>
          <tr>
            <th class="product-remove"><span class="screen-reader-text"></span></th>
            <th class="product-thumbnail"><span class="screen-reader-text"></span></th>
            <th class="product-name">Producto</th>
            <th class="product-price">Precio</th>
            <th class="product-quantity">Cantidad</th>
            <th class="product-subtotal">Subtotal</th>
          </tr>
        </thead>

        <tbody>  
        <tr class="cart_item">
    
          <td class="product-remove">
            <a href="" class="remove" style="color: red;">×</a>
          </td>

          <td class="product-cart">
            <a href="/productDetail" class="no-lightbox">
              <img src="/images/default.jpeg" class="cart-img" alt="" >
            </a>						
          </td>

          <td class="product-name">
          <a href="/productDetail">
            Remera Adidas Training
          </a>						
          </td>

          <td class="product-price">
            <span class="">$</span>&nbsp;11.900,00</span>						
          </td>

          <td class="product-quantity">
            <div class="quantity ">
              <a href="#" class="negpos">-</a>
                <input type="number"  class="nume"  value="1" size="4" placeholder="" inputmode="numeric" >
              <a href="#" class="negpos">+</a>
            </div>
          </td>

          <td class="product-subtotal" data-title="Subtotal">
            <span class="amount">
              <span class="">$</span>
              &nbsp;11.900,00
            </span>	
          </td>
        </tr>
              
          
        <tr class="actions">
          <td colspan="5" >
            <div class="coupon">
              <label for="coupon_code">Cupón:</label> 
              <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Código de cupón"> 
              <button type="submit" class="submit" name="apply_coupon" value="Aplicar cupón">Aplicar cupón</button>
            </div>
          </td>
          <td class="actualizar-carrito">
              <button type="submit" class="submit" name="update_cart" value="Actualizar carrito" disabled="" aria-disabled="true">Actualizar carrito</button>
          </td>
        </tr>
        </tbody>
      </table>
      </form>
    

      <section class="total-cart">
        <div class="total">
          <h2>Total del carrito</h2>
          <table cellspacing="0" class="shop_table shop_table_responsive">

            <tbody>
              <tr class="cart-subtotal">
                <th style="text-align: left;">Subtotal</th>
                <td data-title="Subtotal">
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    &nbsp;11.900,00
                  </span>
                </td>
              </tr>
        
            
              <tr class="shipping-totals shipping">
                <th style="text-align: left;">Envío</th>
                <td data-title="Envío">
                  <ul id="shipping_method" class="shipping-methods">
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Retiro en sucursal</label>					
                    </li>
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Envio a sucursal por Correo Argentino</label>					
                    </li>
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Envio a domicilio por Correo Argentino</label>					
                    </li>
                  </ul>
                </td>
              </tr>

              <tr class="payment-method">
                <th style="text-align: left;">Forma de pago</th>
                <td data-title="Forma de pago">
                  <select id="payment-method" name="payment_method" style="border: none; width: 100%;">
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta de crédito</option>
                    <option value="transferencia">Transferencia bancaria</option>
                  </select>
                </td>
              </tr>
          

            <tr class="order-total">
              <th style="text-align: left;">Total</th>
              <td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>&nbsp;11.900,00</bdi></span></strong> </td>
            </tr>
        
            
          </tbody></table>
          
          <button type="submit" class="submit comprar-btn" name="update_cart" value="comprar" disabled="" aria-disabled="true">Comprar</button>
          <img class="target" src="/images/tarjetas.png" alt="Imagen" style="float: left; margin-right: 10px;">
        </div>
       
      </section>

  </section>

  <!-- footer -->
  <%- include("partials/footer") %>

</body>
</html>