            
            
            <div class="das-footer padding-tb u-section-row">
                <div>
                    Copyright 2022 - Todos los derechos reservados <a>Grupo 1 Digital House</a>
                </div>

                <div>
                    Version 1.0.0</a>
                </div>
            </div>

       

    </div>
    <!-- Fin Panel Dashboard -->

