<div class="a-panel-menu">
    <!-- Logo -->
    <a href="/">
        <img width="100%" src="/images/logo.png">
    </a>

    <!-- Menu Admin -->
    <nav class="menu-admin">
        <li><a href="/dashboard"> <i class="fas fa-home"></i> <span>Dashboard</span></a></li>
        <li><a href="/dashboard/product"> <i class="fas fa-store"></i> <span>Productos</span></a></li>
        <li><a href="/dashboard/newproduct"> <i class="fas fa-store"></i> <span>Agregar producto</span></a></li>
        <li><a href="#"> <i class="fas fa-shopping-cart"></i> <span>Pedidos</span></a></li>
        <li><a href="/user/editUser"> <i class="fas fa-users"></i> <span>Usuarios</span></a></li>
        <li><a href="/dashboard/page"> <i class="fas fa-store"></i> <span>Paginas</span> </a></li>
        <li><a target="_blank" href="/"> <i class="fas fa-sign-out-alt"></i> <span>Ver Tienda</span></a></li>
        <li><a href="/user/deslogear"> <i class="fas fa-sign-out-alt"></i> <span>Cerrar Sesión</span></a></li>
    </nav>

</div>

    <!-- Panel Dashboard -->
    <div class="a-panel-dashboard">

        