<!-- footer m -->
<footer class="footer-m m">
    <div class="r-25">
        <a href="#"><span class="fas fa-user-circle"></span><p>Usuario</p></a>
    </div>
    <div class="r-25">
        <a href="#"><span class="fas fa-info-circle"></span><p>Ayuda</p></a>
    </div>
    <div class="r-25">
        <a href="#"><span class="fas fa-store-alt"></span><p>Tienda</p></a>
    </div>
    <div class="r-25">
        <a href="/productCart"><span class="fas fa-shopping-bag"></span><p>Carrito</p></a>
    </div>
</footer>

<!-- footer xl -->
<footer class="footer xl" id="footer">
    <div class="u-section-row r padding-tb">
        <!-- Row footer 1 -->
        <div class="footers center r-25">
            <!-- Logo -->
            <a href="#">
                <img src="/images/logo.png" class="f-logo">
            </a><br>
            <div class="center i-redes">
                <a href="https://facebook.com/"><span class="fab fa-facebook-square"></span></a>
                <a href="https://facebook.com/"><span class="fab fa-instagram-square"></span></a>
                <a href="https://facebook.com/"><span class="fab fa-youtube-square"></span></a>
            </div>
        </div>

        <!-- Row footer 1 -->
        <div class="footers r-25">
            <h3>Paginas</h3>
            <ul class="m-footer">
                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Tienda</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>

        <!-- Row footer 2 -->
        <div class="footers r-25">
            <h3>Paginas</h3>
            <ul class="m-footer">
                <li><a href="">Productos</a></li>
                <li><a href="">Politica de devolucion</a></li>
                <li><a href="">Terminos y Condiciones</a></li>
                <li><a href="">Carrito</a></li>
            </ul>
        </div>

        <!-- Row footer 3 -->
        <div class="footers datos r-25" >
            <p>SAN NICOLAS DE LOS ARROYOS - CP 2900</p>
            <p>BUENOS AIRES - ARGENTINA</p>
            <a href="tel:5493364551179"><span class="fas fa-phone-volume">&nbsp;+549 336 4551179</span></a><br>
            <a href="tel:5493364551179"><span class="fas fa-mobile">&nbsp;+549 336 4551179</span></a><br>
            <a href="mailto:carvajalmaxi1@gmail.com"><span class="fas fa-envelope-open-text">&nbsp;info@snport.com</span></a>
        </div>

    </div>
</footer>

<!-- Copyright -->
<div class="copyright">
    <div class="u-section-row padding-tb">
        Copyright 2022 - Todos los derechos reservados
        <a>Grupo 1 Digital House</a>
    </div>
    </div>