<!-- Encabezado -->
<header class="encabezado">
    <!-- row section -->
    <div class="u-section-row r">
        <!-- Logo -->
        <a href="/" class="logo r-30">
            <img src="/images/logo.png" class="u-logo-image" data-image-width="80">
        </a>
        <div class="r r-70 botones-header">
            <% if (!locals.localusuarioLogeado) { %>
                <a href="/login"><span class="fas fa-sign-in-alt"></span>&nbsp;Iniciar Sesion</a>
                <% }else{ %>
                    <div class="dropMenuContainer">
                        <div class="dropMenu">
                            <a href="">
                                <%= usuario.first_name %>
                                    <i class="far fa-caret-square-down"></i>
                            </a>
                            <ul>
                                <li><a href="/user/editarUsuario">Editar tus datos</a></li>
                                <li><a href="/user/deslogear"></span>Deslogearte</a></li>
                            </ul>
                        </div>
                    </div>

                    <%}%>

                        <a href="/productCart"><span class="fas fa-shopping-bag"></span>&nbsp;Carrito</a>
        </div>
    </div>
    <!-- Fin row section -->
</header>
<!-- Fin Encabezado -->

<div class="header u-navegacion">
    <!-- Contenedor -->
    <div class="r u-section-row">
        <div class="btn-menu r70">
            <label for="btn-menu"><i class="fas fa-bars"></i></label>
        </div>
        <nav class="menu r-70">
            <li><a href="/">Inicio</a></li>
            <li><a href="/store">Tienda</a></li>
            <li><a href="#footer">Contacto</a></li>
            <% if (locals.localAdminLogeado) { %>
                <li><a href="/dashboard">Administrador</a></li>
                <%}%>

        </nav>
        <!-- Buscador -->
        
        <div class="buscador r-30">
          <form action="/search" method="GET" class="flex">  
                <button type="submit" class="bus-botton r-25"><i class="fas fa-search"></i></button>
                <input class="bus-input r-70" type="text" name="buscar" required placeholder="Buscar porductos">
         </form>   
        </div>

    </div>
</div>

<div class="capa"></div>
<!-- Menu lateral movil -->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <li><a href="/">Inicio</a></li>

            <a href="/store">Tienda</a>
            <a href="#">Contacto</a>
            <a href="#">Politica de Privacidad</a>
            <a href="#">Terminos y Condiciones</a>
        </nav>
        <label for="btn-menu">✖️</label>
    </div>
</div>